- name: My first play
  hosts: localhost
  tasks:
   - name: Ping my hosts
     ansible.builtin.ping:

   - name: Get VM current state
     community.proxmox.proxmox_kvm:
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       name: espresso-instance
       node: int531-09
       state: current
     register: vm_info

   - name: Stop the VM if running
     community.proxmox.proxmox_kvm:
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       name: espresso-instance
       node: int531-09
       state: stopped
       force: true
     when: vm_info.vmid is defined and vm_info.status ==  'running'

   - name: Remove VM
     community.proxmox.proxmox_kvm:
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       name: espresso-instance
       node: int531-09
       state: absent
     when: vm_info.vmid is defined

   - name: Print message
     ansible.builtin.debug:
       msg: Hello

   - name: Create VM
     community.proxmox.proxmox_kvm:
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       clone: SRE-09-3
       name: espresso-instance
       node: int531-09
       storage: local-lvm
       format: qcow2
       timeout: 100
     register: new_vm

   - name: Start VM
     community.proxmox.proxmox_kvm:
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       vmid: "{{ new_vm.vmid }}"
       node: int531-09
       state: started

   - debug:
       var: vm_info
