- name: Set up virtual machine on Proxmox
  hosts: localhost
  vars:
    vm_name: espresso-instance # Virtual machine name
    vm_template: SRE-09-3-Template-V3 # Name of the virtual machine template for proxmox to clone from
    proxmox_node: int531-09 # your proxmox node
    proxmox_api_host: 10.13.104.219 # your proxmox IP address
    proxmox_api_user: root@pam
    proxmox_api_password: int53109 # your proxmox password
    proxmox_storage: local-lvm # storage used for hosting image, check your proxmox storage settings
  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Get VM current state
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: current
      register: vm_info
      ignore_errors: true

    - name: Stop the VM if running
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: stopped
        force: true
      when: vm_info.vmid is defined and vm_info.status ==  'running'

    - name: Remove VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        state: absent
      when: vm_info.vmid is defined

    - name: Create VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        clone: "{{ vm_template }}"
        name: "{{ vm_name }}"
        node: "{{ proxmox_node }}"
        storage: local-lvm
        format: qcow2
        timeout: 100
        ciuser: stove
        cipassword: 12345678
        ipconfig:
          ipconfig0: "ip=10.13.104.64/24,gw=10.13.104.254"
      register: new_vm

    - name: Start VM
      community.proxmox.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        api_host: "{{ proxmox_api_host }}"
        vmid: "{{ new_vm.vmid }}"
        node: int531-09
        state: started
